{% import 'macros/cards.twig' as cards %}

{% embed 'partials/base.html.twig' %}
	{% block content %}
		<div class="row">
			<main class="blog">
				<h1 class="collection-title">Search Results</h1>

				<ul class="posts">
					{% for page in search_results %}
						<li>{{ cards.postcard(page, theme_url ~ '/images/logo-thumb.jpg') }}</li>
					{% endfor %}	
				</ul>

				<p class="search-stats"><strong>{{ query }}</strong> matched {{ search_results.count }} {{ 'post'|pluralize(search_results.count) }}</p>
			</main>

			<section class="sidebar">
				{% include 'partials/sidebar.html.twig' %}
			</section>
		</div>

		{% include 'partials/footer.html.twig' %}
	{% endblock content %}
{% endembed %}
