/* Paint Colors */
$big-chill: #D0CFCA;
$chambourd: #57474F;
$expressive-plum: #6C5C64;
$shagreen: #C9CD9C;
$raindrop: #9FC5C8;
$grand-canal: #417880;
$flattering-peach: #F4D6B3;
$oyster-bay: #ACB3A8;
$china-doll: #DCCEBE;
$ancient-marble: #D0CFBB;
$ski-slope: #E2E5E4;
$snowbound: #EEEBE5;
$otto-brown: rgb(85, 72, 68);
$otto-bg: #41353B;

$facebook-blue: #3B5998;
$tumblr-blue: #36465D;
$twitter-blue: #59ADEA;
$youtube-red: #DC2826;
$pinterest-red: #B71912;
$instagram-brown: #3C3C3C;


$title-color: $otto-bg;
$subheading-color: $expressive-plum;
$underline-color: rgba($title-color, 0.5);