.series {
	margin-bottom: 1.5em;
}

.collection-title {
	text-align: center;
}

.series h4.title {
	background-image: linear-gradient(to top, 
		transparent 11%, 
		rgba(0,0,0,.3) 11%, 
		rgba(0,0,0,.3) 16%, 
		transparent 16% );
}