article.post {
	header {
		a { background-image: none; }
		
		.title {
			margin: 0;
			padding: 0;
			font-weight: bold;
			color: $title-color;
			line-height: 1; //em
			font-size: 2em;
		}

		.subheading {
			font-size: 1em;
			color: $subheading-color;
		}
	}

	footer {
		border-top: 1px solid gray;
		padding: 0.5em 0;
		border-bottom: 1px solid gray;
		line-height: $social-height;

		a {
			background-image: none;
		}

		p {
			margin: 0;
			display: inline-block;
		}

		margin-bottom: 0.5em;
	}
}