.social {
	float: right;

	.social-link {
		display: inline;
	}

	.social-link a { 
		width: 40px;
		height: $social-height;
		display: inline-block;
		margin-left: 0.5em;
	 }	

	.facebook a { background-image: url("../images/social/facebook.png"); }
	.twitter a { background-image: url("../images/social/twitter.png"); }
	.tumblr a { background-image: url("../images/social/tumblr.png"); }
}

.mobile-social {
	@extend .show-for-small-only;
	text-align: center;
	
	ul {
		list-style: none;
		margin-left: 0;

		li {
			margin: 0 10px;
			font-size: 2em;
			display: inline-block;
		}
	}

	a:hover { background: none; }

	.fi-social-facebook { color: $facebook-blue; }
	.fi-social-twitter { color: $twitter-blue; }
	.fi-social-tumblr { color: $tumblr-blue; }
	.fi-social-instagram { color: $instagram-brown; }
	.fi-social-youtube { color: $youtube-red; }
	.fi-social-pinterest { color: $pinterest-red; }
}