
//body {
//	font-family: source-sans-pro,calibri,candara,arial,sans-serif;
//}

//h1,h2,h3,h4,h5,h6 {
//	font-family: merriweather,palatino,book antiqua,sans-serif;
//}

p {
	margin-bottom: 1em;
}

a {
	$underline-start: 11%;
	$underline-stop: 16%;

	border-bottom: 1px dotted $underline-color;
	//background-image: linear-gradient(to top, 
	//	transparent $underline-start, 
	//	$underline-color $underline-start, 
	//	$underline-color $underline-stop, 
	//	transparent $underline-stop);

	&:hover {
		color: $raindrop;
		// background-color: $flattering-peach;
	}
}

.header a:hover {
	background: none;
}

code {
	background: $snowbound;
}
pre {
	background: $snowbound;
	border: 1px solid $ski-slope;
	padding: 1em;
	margin: 1em 0;

	code {
		overflow: scroll;
		background: none;
		border: none;
		display: block;
		padding: 0;
	}
}


$blockquote-width: 10px;
$blockquote-darken: 25%;
$blockquote-lighten: 25%;

blockquote {
	border-left: $blockquote-width solid $oyster-bay;
	margin: 1em 0;
	padding-left: $blockquote-width;
	padding-top: 0;

	p {
		font-size: 1.1rem;
		padding: 0.5em;
		color: #999;
	}
	cite {
		display: block;
		text-align: right;
		color: #666;
		font-size: 1.2rem;
	}
}

blockquote > blockquote > blockquote {
	margin: 0;

	p {
		padding: 1em;
		display: block;
		font-size: 1rem;
		margin-top: 0rem;
		margin-bottom: 0rem;
	}

	> p {
		$color: darken($flattering-peach, 15%);
		margin-left: $blockquote-width * -6;
		margin-right: $blockquote-width * -6;
		border-left: $blockquote-width solid $color;
		background: lighten($color, $blockquote-lighten);
		color: darken($color, $blockquote-darken);
	}

	> blockquote > p {
		$color: red;
		margin-left: $blockquote-width * -8;
		margin-right: $blockquote-width * -8;
		border-left: $blockquote-width solid $color;
		background: lighten($color, $blockquote-lighten);
		color: darken($color, $blockquote-darken);
	}

	> blockquote > blockquote > p {
		$color: darken($raindrop, 15%);
		margin-left: $blockquote-width * -10;
		margin-right: $blockquote-width * -10;
		border-left: $blockquote-width solid $color;
		background: lighten($color, $blockquote-lighten);
		color: darken($color, $blockquote-darken);
	}

	> blockquote > blockquote > blockquote > p {
		$color: darken($shagreen, 15%);
		margin-left: $blockquote-width * -12;
		margin-right: $blockquote-width * -12;
		border-left: $blockquote-width solid $color;
		background: lighten($color, $blockquote-lighten);
		color: darken($color, $blockquote-darken);
	}
}

