<header class="header">
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <ul class="left">
	      <li><a href="#"><span class="fi-social-facebook"></span></a></li>
	      <li><a href="#"><span class="fi-social-twitter"></span></a></li>
	      <li><a href="#"><span class="fi-social-tumblr"></span></a></li>
	      <li><a href="#"><span class="fi-social-instagram"></span></a></li>
	      <li><a href="#"><span class="fi-social-youtube"></span></a></li>
	      <li><a href="#"><span class="fi-social-pinterest"></span></a></li>
	    </ul>

	    <ul class="right">
	      <li><a href="#">Agility</a></li>
	      <li><a href="#">Fostering</a></li>
	      <li><a href="#">Training</a></li>
	      <li><a href="#">Projects</a></li>
	    </ul>
	  </section>
	</nav>

	<a class="logo" href="/" data-interchange="[theme/images/dots.jpg, (default)], [theme/images/dots@2x.jpg, (retina)]">
		<img data-interchange="[theme/images/logo-left.png, (default)], [theme/images/logo-left@2x.png, (retina)]" />
	</a>
</header>

<div class="row">
	<div class="ad landscape"></div>
</div>