{% if pagination|length > 1 %}

<div class="pagination-centered">
	<ul class="pagination" role="menubar" aria-label="Pagination">
		{% set prevUrl =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
		<li class="arrow {% if not pagination.hasPrev %}unavailable{% endif %}"><a href="{{ prevUrl }}">&laquo; Previous</a></li>
		
		{% for paginate in pagination %}
			{% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
			<li {% if paginate.isCurrent %}class="current"{% endif %}><a href="{{ url }}">{{ paginate.number }}</a></li>
		{% endfor %}

		{% set nextUrl =  (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
		<li class="arrow {% if not pagination.hasNext %}unavailable{% endif %}"><a href="{{ nextUrl }}">Next &raquo;</a></li>
	</ul>
</div>

{% endif %}