<form class="search row collapse">
	<div class="small-10 columns">
		<input type="text" name="" value="{{ query }}" placeholder="Search...">
	</div>
	<div class="small-2 columns">
		<a class="button postfix">Go</a>
	</div>
</form>