{% include 'partials/search.html.twig' %}

<div class="row">
	<div class="small-12 columns">
		<div class="ad square"></div>
	</div>
</div>

<iframe width='220' height='1101' src='http://iconosquare.com/widget.php?choice=myfeed&username=softpuppywarmhouse&show_infos=true&linking=statigram&width=220&height=1101&mode=grid&layout_x=1&layout_y=5&padding=10&photo_border=false&background=FFFFFF&text=777777&widget_border=true&radius=10&border-color=DDDDDD&user_id=316217337&time=1439435405902' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:220px; height:1101px;'></iframe>

<div class="row">
	<div class="small-12 columns">
		<div class="ad skyscraper"></div>
	</div>
</div>