
<div class="module">
	{% include 'partials/search.html.twig' %}
</div>

<div class="row module">
	<div class="small-12 columns">
		<h4 class="title">Popular Categories</h4>
		{% include 'partials/popular_tags.html.twig' %}
	</div>
</div>

<div class="row module">
	<div class="small-12 columns">
		<div class="ad square">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Square Widget 
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2225099296195937"
     data-ad-slot="3806081995"
     data-ad-format="auto"></ins>-->
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</div>
</div>

<div class="row module hide-for-medium-down">
	<div class="small-12 columns">
		<iframe width='220' height='1101' src='http://iconosquare.com/widget.php?choice=myfeed&username=softpuppywarmhouse&show_infos=true&linking=statigram&width=220&height=1101&mode=grid&layout_x=1&layout_y=5&padding=10&photo_border=false&background=FFFFFF&text=777777&widget_border=true&radius=5&border-color=DDDDDD&user_id=316217337&time=1439435405902' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:220px; height:1101px;'></iframe>
	</div>
</div>

<div class="row module">
	<div class="small-12 columns">
		<div class="ad skyscraper">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Skyscraper Widget
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2225099296195937"
     data-ad-slot="6759548395"
     data-ad-format="auto"></ins>-->
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</div>
</div>